<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
  </head>
  <body>
    <div class="row justify-content-evenly m-5 p-5">
      <div class="col-6">
        <img class="img-fluid" src="../../assets/airplane.jpg" alt="img-logo"/>
      </div>

      <div class="col-6">
        <p class="voltar mb-5 fs-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="#91C2D8"
            class="bi bi-arrow-left-circle-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
            />
          </svg>
          <a routerLink="/autenticacao/login">Voltar</a>
        </p>
        <h2 class="sub-titulo pb-3">Cadastre-se!</h2>
        <form class="login mx-3 row">
          <label class="inf mb-2">Informações do Usuário:</label>
          <div class="form-group col-md-6" >
            <label>Nome</label>
            <input
              name="nome"
              type="text"
              id="nome"
              class="form-control"
              placeholder="Nome"
              required
              pattern="[a-zA-Z\s]*"
              
              />
          </div>
          <div class="form-group col-md-4" >
            <label>CPF</label>
            <input
              name="cpf"
              type="text"
              class="form-control"
              placeholder="XXX.XXX.XXX-XX"
              appCpfMask
              required
            
            />
           
          </div>

          <div class="form-group col-md-6" >
            <label>Email</label>
            <input
              name="email"
              type="text"
              id="email"
              class="form-control"
              placeholder="exemplo@mail.com"
              required email
              />
              
          </div>

          
        <form  class="row">
          <label class="inf mb-2">Informações do Endereço:</label>
            <div class="form-label col-md-2">
              <label>CEP</label>
              <input
                type="text"
                
                ngModel
                class="form-control"
                id="cep"
                name="cep"
                placeholder="00000-000"
                required
                />
                
            </div>
            <div class="form-label col-md-4" >
              <label>Rua:</label>
                  <input
                    class="form-control"
                    name="rua"
                   
                    ngModel
                    type="text"
                    id="rua"
                    placeholder="Ex: Rua XV de Novembro" 
                    required
                    />
                    
                   
            </div>
            <div class="form-label col-md-4" >
              <label>Complemento:</label>
                <input
                  name="complemento"
                  ngModel
                  class="form-control"
                  type="text"
                  id="complemento"
                  placeholder="Ex: Casa" />
                  
            </div>
            <div class="form-label col-md-5" >
              <label>Cidade:</label>
              <input
                name="cidade"
                ngModel
                class="form-control"
                type="text"
                id="cidade"
                placeholder="Ex: Curitiba"
                />
                
            </div>
            <div class="form-label col-md-5" >
              <label>Estado:</label>
                <input
                  name="uf"
                  ngModel
                  class="form-control"
                  type="text"
                  id="uf"
                  placeholder="Ex: PR"
                  />
                 
            </div>
            </form>
          <button type="submit" class="btn btn-cadastro d-grid col-4"
          [disabled]="!formCadastro.valid"
        > Cadastro
          </button>
        </form>
        <div class="mt-2 btn-login text-center col-md-4 row justify-content-center">
          <a routerLink="/autenticacao/login">Já é cadastrado? Login</a>
        </div>
      </div>
    </div>
  </body>
</html>