<p>consultar-reserva works!</p>
<div class="container">
    R09: Consultar Reserva - O sistema deve mostrar uma tela em branco com um campo de entrada de texto, onde o cliente digita o código de reserva. Então, nesta mesma tela devem ser mostrados todos os dados da reserva: data/hora, código da reserva, origem, destino, valor gasto, milhas gastas, e o estado do voo (ex, se já ocorreu, está confirmado, feito check-in, cancelado, etc). Se o voo está para acontecer nas próximas 48h, deve-se apresentar a opção de fazer check-in. 
</div>