  <div class="card">
    <div class="card-header-cliente">
      <h5 class="mb-0">Consultar Reserva</h5>
    </div>
    <div class="card-body">
      <label for="codigoReserva" class="form-label">Digite o código da reserva:</label>
      <div class="input-group">
        <input type="text" class="form-control" id="codigoReserva" [(ngModel)]="codigoReservaInput" placeholder="Ex: 1">
        <button type="button" class="btn btn-primary" (click)="getReserva(codigoReservaInput)">Consultar</button>  
      </div>
    </div>
  </div>
  
  <div *ngIf="errorMessage != ''" class="alert alert-danger" role="alert">
    Reserva não encontrada!
  </div>
  <div *ngIf="reserva" class="card shadow-sm">
    <div class="card-header-cliente">
        <h5 class="mb-0">Reserva #{{ reserva.id }}</h5>
        <span class="ms-1 badge"
        [ngClass]="{
          'text-bg-secondary': reserva.status === e.PENDENTE,
          'text-bg-success': reserva.status === e.FINALIZADO,
          'text-bg-danger': reserva.status === e.CANCELADO
        }">
        {{ reserva.status }}
        </span>
    </div>
    <div class="card-body">
        <p><strong>Data/Hora:</strong> {{ reserva.dataHora | date:'dd/MM/yyyy HH:mm' }}</p>

        <table class="table table-sm table-striped">
            <thead>
                <th>Origem</th>
                <th>Destino</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="badge bg-secondary text-light">{{ reserva.origem?.codigo }}</span>
                        {{ reserva.origem?.nome }}
                    </td>
                    <td>
                        <span class="badge bg-primary text-light">{{ reserva.destino?.codigo }}</span>
                        {{ reserva.destino?.nome }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ reserva.origem?.cidade }}, {{ reserva.origem?.estado }}, {{ reserva.origem?.pais }}
                    </td>
                    <td>
                        {{ reserva.destino?.cidade }}, {{ reserva.destino?.estado }}, {{ reserva.destino?.pais }}
                    </td>
                </tr>
            </tbody>
        </table>

        <p><strong>Valor:</strong> {{ reserva.valor | currency:'BRL':'symbol' }}</p>
        <p><strong>Milhas:</strong> {{ reserva.milhas }}</p>
    </div>
</div>
