.container {
  background-color: #c6b2f71e;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.034);
  margin-top: 50px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: none;
  margin-bottom: 30px;
}

.card-header {
  background-color: #001aff88;
  color: white;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  font-size: 18px;
  text-align: center;
}

.card-body {
  padding: 20px;
}

.form-floating label {
  color: #6c757d;
}

.form-floating .form-control:focus {
  border-color: #0077b6;
  box-shadow: 0 0 0 0.2rem rgba(0, 119, 182, 0.25);
}

.btn-success {
  background-color: #0400ff9a;
  color: white;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-success:hover {
  background-color: #001affd8;
}

.btn-outline-success {
  background-color: white;
  color: #001affd8;
  border-color: #001affd8;
}

.btn-outline-success:hover {
  background-color: #001affd8;
  color: white;
}

input, select {
  font-size: 16px;
  padding: 10px;
}

@media (max-width: 768px) {
  .form-floating {
    width: 100%;
  }

  .input-group {
    flex-direction: column;
  }
}
