<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
    <a class="navbar-brand" href="#"> <i class="fas fa-plane"></i> Fly High </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">
            <i class="fas fa-home icon"></i> Home
          </a>
        </li>
  
        <ng-container>
          <li class="nav-item">
            <a class="nav-link" routerLink="/funcionario">
              <i class="fas fa-briefcase icon"></i> Inicial Funcionário
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/funcionario/cadastrar-voo">
              <i class="fas fa-plane-departure icon"></i> Gerenciar Voos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">
              <i class="fa-solid fa-person-walking"></i> Consultar embarques
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">
              <i class="fa-solid fa-users"></i> Gerenciar Funcionarios
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </nav>
  