.card-header {
  background-color: #001aff88;
  color: white;
  padding: 15px;
  border-radius: 5px 5px 0 0;
  font-size: 18px;
  text-align: center;
}

.btn-primary {
  background-color: #0400ff9a;
  color: white;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
  background-color: #001affd8;
}
