.btn {
  width: 200px;
  border-radius: 30px;
  padding: 8px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 14px;
  font-weight: bold;
  margin: 3px;
}

.btn-danger, .btn-outline-secondary {
  background-color: #da3324;
  color: white;
  border: none;
}

.btn-danger:hover, .btn-outline-secondary:hover {
  background-color: #ff4c3b;
}

.btn-primary {
  background-color: #001affd8;
}

.btn-primary:hover {
  background-color: #001aff88;
}

.table {
  margin-top: 15px;
  background-color: white;
}

.table thead {
  background-color: #6aa4c4;
  color: white;
}

.table th, .table td {
  text-align: center;
}

.table .badge {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 8px;
}

p {
  font-size: 16px;
  color: #fff;
}

h5 {
  color: #000000a9;
  font-weight: bold;
}

.card-header {
  background-color: #001aff88;
  color: white;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  font-size: 18px;
}
