<!-- Navbar para usuário autenticado -->
<nav class="navbar navbar-expand-lg navbar-light bg-light p-2" *ngIf="isLoggedIn">
  <a class="navbar-brand" href="#"> <i class="fas fa-plane"></i> Fly High </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">
          <i class="fas fa-home icon"></i> Home
        </a>
      </li>

      <!-- Navbar do Cliente -->
      <ng-container *ngIf="authService.getUserRole() === 'cliente'">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cliente">
            <i class="fas fa-user icon"></i> Inicial Cliente
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cliente/comprar-milhas">
            <i class="fas fa-dollar-sign icon"></i> Comprar milhas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cliente/consultar-reserva">
            <i class="fas fa-search icon"></i> Consultar reserva
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cliente/efetuar-reserva">
            <i class="fas fa-ticket-alt icon"></i> Efetuar reserva
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cliente/extrato-milhas">
            <i class="fas fa-file-invoice icon"></i> Extrato milhas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cliente/fazer-checkin">
            <i class="fas fa-check icon"></i> Check In
          </a>
        </li>
      </ng-container>

      <!-- Navbar do Funcionário -->
      <ng-container *ngIf="authService.getUserRole() === 'funcionario'">
        <li class="nav-item">
          <a class="nav-link" routerLink="/funcionario">
            <i class="fas fa-briefcase icon"></i> Inicial Funcionário
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/funcionario/gerenciar-voos">
            <i class="fas fa-plane-departure icon"></i> Gerenciar Voos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/funcionario/consultar-passagens">
            <i class="fas fa-ticket-alt icon"></i> Consultar Passagens
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/funcionario/relatorio-financeiro">
            <i class="fas fa-chart-line icon"></i> Relatório Financeiro
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
<router-outlet />
