<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1> Olá {{user.nome}}!</h1>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <h2>Milhas acumuladas: {{user.milhas}}</h2>
    </div>
  </div>
  <div class="row operacoes-clientes">
    <div class="col-md-3">
      <button class="btn btn-success">Comprar Milhas</button>
    </div>
  </div>
  <div class="container table-area">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nº Vôo</th>
          <th scope="col">Status</th>
          <th scope="col">Data e Hora do vôo</th>
          <th scope="col">Origem</th>
          <th scope="col">Destino</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of reservas">
          <th scope="row">{{reserva.id}}</th>
          <td>{{reserva.status}}</td>
          <td>{{reserva.dataHora | date:'dd/MM/yyyy hh:mm'}}</td>
          <td>{{reserva.origem.codigo}}</td>
          <td>{{reserva.destino.codigo}}</td>
          <td><button class="btn btn-primary" [routerLink]="['/cliente/reserva', reserva.id]">Ver reserva</button></td>
          <td><button class="btn btn-danger" (click)="cancelarReserva(reserva)">Cancelar reserva</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>




