<p>efetuar-reserva works!</p>
<div class="container">
    R07: Efetuar Reserva - O cliente pode reservar os voos.
O sistema deve apresentar uma tela de busca mostrando um campo aeroporto origem e aeroporto destino (ambos podem ser vazios);
Ao clicar em "Buscar", devem ser apresentados todos os voos, a partir da data atual, que casam com a busca solicitada, em formato de tabela;
O cliente então pode selecionar um desses voos para ir para a próxima tela. Na próxima tela devem aparecer os dados do voo: Origem, Destino, Data/Hora e Preço do Assento; além disso deve apresentar seu saldo de milhas;
Nesta tela o cliente escolhe quantas passagens vai comprar e deve ser calculado o valor total, bem como a quantidade de milhas necessárias para comprar as passagens;
Então o cliente pode informar a quantidade de milhas que usará do seu saldo, e o valor resultante deverá ser pago em dinheiro;
Assim que o cliente confirma o pagamento, seu saldo é atualizado e a compra é efetivada (assumimos que o cliente já fez o pagamento em dinheiro necessário);
Como passo final é gerado um código de reserva único, formado por 3 letras maiúsculas e 3 números. Este código será usado para localizar a reserva e confirmar o embarque.
</div>
