@import '@fortawesome/fontawesome-free/css/all.min.css';

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  background-color: #F2F4F5;
}

.container {
  background-color: #edecf5;
  padding: 2.5em;
  border-radius: 8px;
}

i {
  margin-right: 1em !important;
  padding: 0.33em !important;
  width: 0.75em;
  height: auto;
}

.btn:not(.input-group .btn) {
  border-radius: 2em !important;
  font-weight: bold !important;
  padding-right: 1em !important; 
}

.navbar {
  background-color: #f8f9fa;
}

.navbar-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item .nav-link {
  color: #007bff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease, background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item .nav-link .icon {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #fff;
  background-color: #007bff;
  border-radius: 10px;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:hover {
  background-color: rgba(0, 123, 255, 0.1);
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.card {
  margin-top: 0.4em !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
  border: none !important;
  margin-bottom: 30px !important;
}

.card-round {
  border-radius: 10em !important;
  margin-bottom: 0;
}

.card .nav-link {
  color: #7482fd;
}

.card-header {
  background-color: #7784ff !important;
  color: white !important;
  padding: 0.5em !important;
  border-radius: 0.25em 0.25em 0 0 !important;
  font-size: 18px;
}

.card-header h5 {
  font-weight: bold !important;
}

.card-title {
  font-size: 1.5rem;
  color: #001aff88;
  margin-bottom: 20px;
}

button:focus {
  outline: none;
  box-shadow: none;
}

