<div class="container mt-5">
    <div class="d-flex justify-content-around mb-3">
        <h2 class="">Bem-vindo, {{ user?.nome }}</h2>
        <button class="btn btn-sm btn-danger" (click)="logout()">Logout</button>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header text-white">
                    <h5 class="mb-0">Menu</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5 class="fw-bold">Reservas</h5>
                        <ul class="list-unstyled">
                            <li><a [routerLink]="['/reservas/ver']" class="nav-link">Ver Reservas</a></li>
                            <li><a [routerLink]="['/reservas/efetuar']" class="nav-link">Efetuar Reserva</a></li>
                            <li><a [routerLink]="['/reservas/cancelar']" class="nav-link">Cancelar Reserva</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <h5 class="fw-bold">Milhas</h5>
                        <ul class="list-unstyled">
                            <li><a [routerLink]="['/milhas/comprar']" class="nav-link">Comprar Milhas</a></li>
                            <li><a [routerLink]="['/milhas/consultar']" class="nav-link">Consultar Extrato</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <h5 class="fw-bold">Check-in</h5>
                        <a [routerLink]="['/checkin']" class="nav-link">Fazer Check-in</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-9">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Informações do Usuário</h5>
                </div>
                <div class="card-body">
                    <div class="col-md-6">
                        <p><strong>Saldo em milhas:</strong> {{ user?.milhas?.quantidade }}</p>
                        <p><strong>ID:</strong> {{ user?.id }}</p>
                        <p><strong>CPF:</strong> {{ user?.cpf }}</p>
                        <p><strong>Email:</strong> {{ user?.email }}</p>
                    </div>
                    <div *ngIf="(user) && (user!.endereco)">
                      <div class="col-md-6">
                        <p>
                            {{ user.endereco.logradouro }}, {{ user.endereco.numero }}
                            {{ user.endereco.complemento ? '(' + user.endereco.complemento + ')' : '' }}<br>
                            {{ user.endereco.bairro }} - {{ user!.endereco.cidade }}/{{ user.endereco.estado }}, {{ user.endereco.cep }}
                        </p>
                      </div>
                    </div>
                </div>
            </div>

            <div *ngIf="reservas.length > 0" class="card shadow-sm mt-4">
                <div class="card-header">
                    <h5 class="mb-0">Reservas</h5>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-light">
                        <tr>
                        <th>Data/Hora</th>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Status</th>
                        <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reserva of reservas">
                                <td>{{ reserva.dataHora | date:'dd/MM/yyyy HH:mm' }}</td>
                                <td>
                                    <span class="badge bg-secondary">{{ reserva.origem.codigo }}</span>
                                    {{ reserva.origem.nome }}
                                    </td>
                                    <td>
                                    <span class="badge bg-primary">{{ reserva.destino.codigo }}</span>
                                    {{ reserva.destino.nome }}
                                </td>
                                <td>
                                    <span class="badge"
                                    [ngClass]="{'bg-secondary': reserva.status === 'Pendente',
                                    'bg-success': reserva.status === 'Finalizada',
                                    'bg-danger': reserva.status === 'Cancelada'}">
                                    {{ reserva.status }}
                                    </span>
                                </td>
                                <td>
                                    <a [routerLink]="['/reserva', reserva.id]" class="btn btn-sm btn-outline-secondary mb-2">Detalhes</a>
                                    <button *ngIf="reserva.status === 'Pendente'" class="btn btn-sm btn-danger" (click)="cancelarReserva(reserva.id)">Cancelar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
