<div class="container">
  <div *ngIf="reservas.length > 0" class="card shadow-sm mt-4">
    <div class="card-header">
        <h5 class="mb-0">Seus Vôos nas próximas 48h</h5>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
            <tr>
            <th>Data/Hora</th>
            <th>Origem</th>
            <th>Destino</th>
            <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reserva of reservas">
                    <td>{{ reserva.dataHora | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td>
                        <span class="badge bg-secondary">{{ reserva.origem?.codigo }}</span>
                        {{ reserva.origem?.nome }}
                        </td>
                        <td>
                        <span class="badge bg-primary">{{ reserva.destino?.codigo }}</span>
                        {{ reserva.destino?.nome }}
                    </td>
                    <td>
                        <button class="btn btn-success" onclick="alert('Checkin confirmado com sucesso!')">Realizar Check-in</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
